<div class="container intro-images text-center">
    <div class="row">
        <div class="col-sm-6">
            <a href="https://solar.lowtechmagazine.com/" target="_blank" rel="nofollow noopener noreferrer">
                <img loading="lazy" srcset="https://staticguide.imgix.net/images/figures/figure-102.png?w=650&auto=compress,format&dpr=1 1x,
                                            https://staticguide.imgix.net/images/figures/figure-102.png?w=650&auto=format&q=40&dpr=2 2x,
                                            https://staticguide.imgix.net/images/figures/figure-102.png?w=650&auto=format&q=20&dpr=3 3x"
                                    src="https://staticguide.imgix.net/images/figures/figure-102.png"
                                    class="img-fluid" alt="Low Tech Magazine website"
                >
            </a>
        </div>
        <div class="col-sm-6">
            <a href="https://www.carabinercollection.com/" target="_blank" rel="nofollow noopener noreferrer">
                <img loading="lazy" srcset="https://staticguide.imgix.net/images/figures/figure-103.png?w=650&auto=compress,format&dpr=1 1x,
                                            https://staticguide.imgix.net/images/figures/figure-103.png?w=650&auto=format&q=40&dpr=2 2x,
                                            https://staticguide.imgix.net/images/figures/figure-103.png?w=650&auto=format&q=20&dpr=3 3x"
                                    src="https://staticguide.imgix.net/images/figures/figure-103.png"
                                    class="img-fluid" alt="The Carabiner Collection website"
                >
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <a href="https://clubnintendoarchives.neocities.org/" target="_blank" rel="nofollow noopener noreferrer">
                <img loading="lazy" srcset="https://staticguide.imgix.net/images/figures/figure-104.png?w=650&auto=compress,format&dpr=1 1x,
                                            https://staticguide.imgix.net/images/figures/figure-104.png?w=650&auto=format&q=40&dpr=2 2x,
                                            https://staticguide.imgix.net/images/figures/figure-104.png?w=650&auto=format&q=20&dpr=3 3x"
                                    src="https://staticguide.imgix.net/images/figures/figure-104.png"
                                    class="img-fluid" alt="The Club Nintendo Archives website"
                >
            </a>
        </div>
        <div class="col-sm-6">
            <a href="https://www.htmlhobbyist.com/" target="_blank" rel="nofollow noopener noreferrer">
                <img loading="lazy" srcset="https://staticguide.imgix.net/images/figures/figure-105.png?w=650&auto=compress,format&dpr=1 1x,
                                            https://staticguide.imgix.net/images/figures/figure-105.png?w=650&auto=format&q=40&dpr=2 2x,
                                            https://staticguide.imgix.net/images/figures/figure-105.png?w=650&auto=format&q=20&dpr=3 3x"
                                    src="https://staticguide.imgix.net/images/figures/figure-105.png"
                                    class="img-fluid" alt="The HTML Hobbyist website"
                >
            </a>
        </div>
    </div>
</div>