<div class="container intro-images text-center">
    <div class="row">
        <div class="col-sm-6">
            <a href="https://www.mailta.pe/" target="_blank" rel="nofollow noopener noreferrer">
                <img loading="lazy" srcset="https://staticguide.imgix.net/images/figures/figure-84.png?w=650&auto=compress,format&dpr=1 1x,
                                            https://staticguide.imgix.net/images/figures/figure-84.png?w=650&auto=format&q=40&dpr=2 2x,
                                            https://staticguide.imgix.net/images/figures/figure-84.png?w=650&auto=format&q=20&dpr=3 3x"
                                    src="https://staticguide.imgix.net/images/figures/figure-84.png"
                                    class="img-fluid" alt="MailTape website"
                >
            </a>
        </div>
        <div class="col-sm-6">
            <a href="https://www.plainlanguage.gov/" target="_blank" rel="nofollow noopener noreferrer">
                <img loading="lazy" srcset="https://staticguide.imgix.net/images/figures/figure-88.png?w=650&auto=compress,format&dpr=1 1x,
                                            https://staticguide.imgix.net/images/figures/figure-88.png?w=650&auto=format&q=40&dpr=2 2x,
                                            https://staticguide.imgix.net/images/figures/figure-88.png?w=650&auto=format&q=20&dpr=3 3x"
                                    src="https://staticguide.imgix.net/images/figures/figure-88.png"
                                    class="img-fluid" alt="The plainlanguage.gov website"
                >
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <a href="https://paulstamatiou.com/" target="_blank" rel="nofollow noopener noreferrer">
                <img loading="lazy" srcset="https://staticguide.imgix.net/images/figures/figure-85.png?w=650&auto=compress,format&dpr=1 1x,
                                            https://staticguide.imgix.net/images/figures/figure-85.png?w=650&auto=format&q=40&dpr=2 2x,
                                            https://staticguide.imgix.net/images/figures/figure-85.png?w=650&auto=format&q=20&dpr=3 3x"
                                    src="https://staticguide.imgix.net/images/figures/figure-85.png"
                                    class="img-fluid" alt="Paul Stamatiou's personal website"
                >
            </a>
        </div>
        <div class="col-sm-6">
            <a href="https://getbootstrap.com/" target="_blank" rel="nofollow noopener noreferrer">
                <img loading="lazy" srcset="https://staticguide.imgix.net/images/figures/figure-90.png?w=650&auto=compress,format&dpr=1 1x,
                                            https://staticguide.imgix.net/images/figures/figure-90.png?w=650&auto=format&q=40&dpr=2 2x,
                                            https://staticguide.imgix.net/images/figures/figure-90.png?w=650&auto=format&q=20&dpr=3 3x"
                                    src="https://staticguide.imgix.net/images/figures/figure-90.png"
                                    class="img-fluid" alt="Bootstrap website"
                >
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <a href="https://www.digital-democracy.org/" target="_blank" rel="nofollow noopener noreferrer">
                <img loading="lazy" srcset="https://staticguide.imgix.net/images/figures/figure-89.png?w=650&auto=compress,format&dpr=1 1x,
                                            https://staticguide.imgix.net/images/figures/figure-89.png?w=650&auto=format&q=40&dpr=2 2x,
                                            https://staticguide.imgix.net/images/figures/figure-89.png?w=650&auto=format&q=20&dpr=3 3x"
                                    src="https://staticguide.imgix.net/images/figures/figure-89.png"
                                    class="img-fluid" alt="Digital Democracy website"
                >
            </a>
        </div>
        <div class="col-sm-6">
            <a href="https://maggieappleton.com/" target="_blank" rel="nofollow noopener noreferrer">
                <img loading="lazy" srcset="https://staticguide.imgix.net/images/figures/figure-101.png?w=650&auto=compress,format&dpr=1 1x,
                                            https://staticguide.imgix.net/images/figures/figure-101.png?w=650&auto=format&q=40&dpr=2 2x,
                                            https://staticguide.imgix.net/images/figures/figure-101.png?w=650&auto=format&q=20&dpr=3 3x"
                                    src="https://staticguide.imgix.net/images/figures/figure-101.png"
                                    class="img-fluid" alt="Maggie Appleton's website"
                >
            </a>
        </div>
    </div>
</div>